
header{
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(177, 177, 177);
    border: 3px solid black;
}


@media screen and (max-width: 767px) {
    //nav
    nav{
        width: 50px;
        height: 100%;
    }

    //Hamburger
    .menuToggle{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(177, 177, 177);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    nav input{
        // position: absolute;
        position: fixed;
        width: 50px;
        height: 50px;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
    }

    .menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
    }

     //style menu
    .menu{
        margin-top: 3px;
        display: none;
        background-color: rgb(177, 177, 177);
        flex-direction: column;
        max-width: 150px;
        min-width: 150px;
    }

    li:hover{
        background-color: rgb(211, 144, 0);
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
        transition-duration: 500ms;
    }

    .li-menu, .li-sub-menu {
        text-align: center;
        height: 10%;
        width: 100%;
        list-style-type: none;
        padding: 15px 5px;
        border: 1px solid black;
    }

    .li-sub-menu{
        width: 160px;
    }

    .a-menu:link, .a-menu:visited, .a-menu:active{
        color:white;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
        font-size: 1.2em;
    }
    .li-menu:hover .a-menu{
        font-size: 1.3em;
        font-weight: 600;
        color:rgb(0, 0, 0);
        text-shadow: 2px 2px 10px rgb(255, 255, 255);
        transition-duration: 500ms;
    }

    //dropdown

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        width: 160px;
        display: none;
        position: absolute;
        z-index: 1;
        top: -1px;
        left: 148px;
        
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(177, 177, 177);
    }

    input:checked ~ .menu{
        display: flex;
    }
}



@media screen and (min-width: 768px){
    
    //Hamburger
    .menuToggle{
        display: none;
    }

    nav input{
        display: none;
    }

    //style menu

    nav{
        width: 60%;
        height: 100%;
    }

    .menu {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    li:hover{
        background-color: rgb(211, 144, 0);
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

    .li-menu, .li-sub-menu {
        text-align: center;
        width: 95px;
        list-style-type: none;
        padding: 15px 5px;
        border: 1px solid black;
    }

    .li-sub-menu{
        width: 160px;
    }

    .a-menu:link, .a-menu:visited, .a-menu:active{
        color:white;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
        
    }
    .li-menu:hover .a-menu{
        color:rgb(0, 0, 0);
        font-size: 1em;
        font-weight: 600;
        text-shadow: 2px 2px 10px rgb(255, 255, 255);
        transition-duration: 500ms;
    }

    //dropdown

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        width: 160px;
        display: none;
        position: absolute;
        z-index: 1;
        top: 45px;
        left: -1px;
        
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(177, 177, 177);
    }
}



//logo

.logo{
    width: 50px;
    min-width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 100%;
    width: 100%;
}

.logo:hover img{
    margin-top:200px;
}

.logo{
  animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}


//CROSS ANIMATION

nav input:checked ~ .menuToggle span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  margin-bottom: 0px;
  margin-top: 5px;
}

nav input:checked ~ .menuToggle span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(0, -2px);
  margin-bottom: 0px;
  margin-top: 5px;
}

nav input:checked ~ .menuToggle span:nth-last-child(3)
{
  transform: rotate(45deg) translate(0px, -2px);
  margin-bottom: 0px;
  margin-top: 5px;
}

span{
    transition: 500ms;
}